.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.footer {
    background-color: #f5f5f5;
}

body {
    font-family: 'Didact Gothic', sans-serif;
}

.card {
    transition: background-color 0.5s ease;
}

.scholance:hover {
    background-color: #fffbed;
}

.wikipi:hover {
    background-color: #edf4ff;
}

.edx:hover {
    background-color: #ffedf1;
}

.rubiks:hover {
    background-color: #eeffed;
}

.course-listings:hover {
    background-color: #fffdf0;
}

.griffin-days:hover {
    background-color: #fdfff0;
}