.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.footer {
    background-color: #f5f5f5;
}

body {
    font-family: 'Didact Gothic', sans-serif;
}

.card {
    transition: background-color 0.5s ease;
}

.eie-online:hover, .wikipi:hover {
    background-color: #edfeff;
}

.eie-families:hover, .edx:hover {
    background-color: #eeedff;
}

.asl-clear:hover, .rubiks:hover {
    background-color: #ffedfd;
}

.aslai:hover, .course-listings:hover {
    background-color: #fff4f0;
}

.smart-clock:hover, .griffin-days:hover {
    background-color: #fffaf0;
}